@import "tailwindcss";
@import "flag-icons/css/flag-icons.min.css";
@plugin "@tailwindcss/typography";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.prose iframe {
  @apply w-full h-full;
}

.feature-list > h1 {
    @apply my-5;
}

.feature-tiles {
    @apply flex flex-col md:flex-row gap-4;
}

.tile {
    @apply md:w-1/4;
}

.feature-benefit {
    @apply w-full grid grid-cols-2 items-center gap-4 px-8;
}

.feature-benefit:nth-child(even) > *:first-child {
    @apply order-last;
}

.feature-image {
    @apply flex flex-col md:flex-row md:w-full;
}

.feature-image > ol {
    @apply list-none;
}

.feature-image > ol > li {
    @apply flex items-center gap-4 font-bold;
}

.feature-image > ol > li > p {
    @apply border rounded-full w-8 h-8 flex items-center justify-center text-blue-600 font-bold;
}

